*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
header{
background-image: url("Assets/Images/netflix\ Bc\ image");
height: 100vh;
width: 100%;
background-size: cover;
position: relative;


}

header .box{
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}
nav{
    display: flex;
    /* position: relative; */
    max-width: 80vw;
    margin: 0 100px 0 100px;
    height: 20px;
    justify-content: space-between;
    padding: 20px;

}

nav img{
    /* color: red; */
    height: 50px;
    width: 160px;
    opacity: 0.9;
    
}

div button{
    margin: 3px;
}
.btn{
    padding: 5px 32px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    opacity: 0.9;
    font-weight: 500;
    
    
    
}

.btn-sign{
     padding: 9px 12px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    background-color: red;
    color: white;
    opacity: 0.9;
    font-weight: 700;
    /* z-index: 10; */
    
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    /* opacity: 0.9; */
    z-index: 10;
    position: relative;
    gap: 10px;
}

.content>:nth-child(1){
    font-size: 50px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

.content>:nth-child(2){
    font-size: 18px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
.content>:nth-child(3){
    font-size: 17px;
    padding: 12px 0;
    
}

.search{
    display: flex;
    gap: 2px;
    max-width: 80vw;
}
input{
    padding: 12px 12px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.628);
    /* border: 0.5px solid gray; */
    border-radius: 4px;
    padding-right: 90px;
    text-align: left;
    

}

 button {
    background-color: red;
    color: white;
    padding: 14px;
    font-size: 27px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    /* box-shadow: 0px 3px 6px rgb(251, 88, 88); */
    cursor:pointer;



}

button:hover{
    background-color: rgb(124, 40, 40);
    
   color: white;
}

.conatiner{
    /* background-color: purple; */
    height: 400px;
    max-width: 1000px;
    margin-top: 30px;
    margin-left: 12vw;
    /* margin-right: 15vw;
    margin-right: 100px; */
}

.section-title{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}


.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;

}

.slider::-webkit-scrollbar{
    display: none;
}

.card{
    position: relative;
    flex: 0 0 auto;
    width: 220px;
    padding: 15px 10px;
    transition: transform 0.5s ease, box-shadow ease;
    cursor: pointer;
    

}
.card img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.number{
    position: absolute;
    bottom: 10px;
    left: -8px;
    font-size: 90px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.1);
    
    z-index: 10;
    box-shadow: 0px 10px 20px black;

}